.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

# Latex Build
*.aux 
*.bit 
*.blg 
*.bbl 
*.lof 
*.log 
*.lot 
*.glo 
*.glx 
*.gxg 
*.gxs 
*.idx 
*.ilg 
*.ind 
*.out 
*.url 
*.svn 
*.toc
*.cls
*.gz
files/cv/sections/
*.tex

figs/
files/
